<!DOCTYPE html>
<html lang="en">
<head>
	<title>Scee Testbed Monitor</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<style>
	body{
		background-color:lightgray;
	}
	.btn-default, 	.row{
		background-color:gray;
	}
	.row{
		border:1px solid white;
	}
	@font-face{
		font-family: "WWDigital";
		src: url('{{ url_for('static', filename='wwdigital.ttf') }}');
	}
	h1{
		font-family:"WWDigital";
	}
	h1 span{
		font-size:200%;
	}
	</style>
	<script>
	function update(){
		$('.container').load('update')
	}
	$(document).ready(update);
	setInterval(update,10000)
	</script>
	<!--<meta http-equiv="refresh" content="10; URL=/update">-->
</head>
<body>
	<div class="container">
	<h1 class="text-center"><span style="color:#2980b9">SCEE</span> <span style="color:#c0392b">Testbed</span> Monitor</h1>
		<!--<a	href="BackEnd.update_USRPs"	data-bind="true">Click to update</a>-->
		<hr>

		{% for i in lines%}
				<div class="row"><div class="col-xs-1"></div>
			{% for j in cols %}
				{%if used_by[5*i+j-1] == -1 %}
					<div class="col-xs-2 button disabled btn-default btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p>192.168.10.{{100+5*i+j}}</p><hr><p>Disconnected</p></div>
				{%elif used_by[5*i+j-1] == 0 %}
					<div class="col-xs-2 button disabled btn-success btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p><small>192.168.10.{{100+5*i+j}}</p><hr><p>Free to use</p></small></div>
				{%else%}
					<div class="col-xs-2 button disabled btn-danger btn-lg text-center"><h4>Kit N°{{5*i+j}}</h4><hr><p>192.168.10.{{100+5*i+j}}</p><hr><p>Used by :<br/><b>{{used_by[5*i+j-1]}}</b></p></div>
				{%endif%}
			{% endfor %}
				</div>
		{% endfor %}
	</div>

</body>
</html>
